/* - **base.css** should contain any general styling on top of what is provided by a reset.css or normalize.css file (these files will be discussed in further detail in lecture)
  - Apply to elements such as body and main
  - Examples include styling of overall font and background color */




/* 
body > * {
  border: 1px solid black;
  box-sizing: border-box;
} */


* {
  box-sizing: border-box;
  border: 1px solid black;
  /* background-color: blue; */
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

/* grid-template-areas */
.item-a {
  grid-area: header;
}

.item-b {
  grid-area: section;
}

.item-c {
  grid-area: article;
}

.item-d {
  grid-area: footer;
}







main {
  display: grid;
  width: 85%;
  height:auto;
  grid-auto-columns: 50% 50%;
  grid-auto-rows: auto;
  /* 70px 150px 125px 125px 250px 250px 80px; */
  gap: 1px 1px;
  grid-template-areas:
     "header header"
     "section section"
     "article article" 
     "footer footer" 
     ". ." ". ." ". .";
  margin: 0 auto;
}

section {
  width: 100%
}

html, body, .grid-container { height: 100%; margin: 0; }



