/* - **base.css** should contain any general styling on top of what is provided by a reset.css or normalize.css file (these files will be discussed in further detail in lecture)
  - Apply to elements such as body and main
  - Examples include styling of overall font and background color */




/* 
body > * {
  border: 1px solid black;
  box-sizing: border-box;
} */


.dev {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  height: 100%;
  width: 480px;
  margin: 0 auto;
  /* padding: 0 auto; */
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows: 150px 125px 125px 250px 250px;
  gap: 1px 1px;
  grid-template-areas: ". ." ". ." ". ." ". ." ". ." ". ." ". .";
}

html, body, .grid-container { height: 100%; margin: 0; }

main {
  border: 1px solid black;
  box-sizing: border-box;
}


