/* - **layout.css** should contain general positioning on the page
  - Apply to elements such as header, footer, nav, aside
  - Classes and IDs can be included here */

  header {
    background-color: aquamarine;
    width: 480px;
    height:75px;
    margin: 0 auto;
  }
  aside {
    background-color: #F8EFBA;
    height: 125px;
  }
  div {
    background-color: salmon;
    height: 125px;
  }
  
  p {
    background-color: #bada55;
    height: 125px;
  }

  footer {
    background-color: #a29bfe;
    height: 80px;
  }