/* - **layout.css** should contain general positioning on the page
  - Apply to elements such as header, footer, nav, aside
  - Classes and IDs can be included here */

  header {
    background-color: aquamarine;
    /* width: 480px; */
    height:7.102vh;
    /* margin: 0 auto; */
  }
  aside {
    background-color: #F8EFBA;
    height: 14.204vh;
  }
  div {
    background-color: salmon;
    height: 11.837vh;
  }
  
  article {
    height:47.348vh
  }
  p {
    background-color: #bada55;
    height: 50%;
    width: 50%;
  }

  footer {
    background-color: #a29bfe;
    height: 7.575vh;
  }

  article {
    display: flex;
    /* flex-direction:column; */
   flex-flow: row wrap;
   
  }